[buildout]
extends =
#    http://good-py.appspot.com/release/plone/4.2a2
     versions.cfg
extensions +=
    mr.developer
    buildout.dumppickedversions
unzip = true
versions = versions
# Always ensure lxml is first in parts
parts =
    lxml
    zopeskel
    instance
    zopepy
    omelette
    command
auto-checkout = *
always-checkout = false

develop =

[instance]
recipe = plone.recipe.zope2instance
blob-storage = ${buildout:directory}/var/blobstorage
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    plone.reload
    Pillow
    Plone
#    plone.app.dexterity
    Products.FCKeditor
        
    
zcml = 
     Products.FCKeditor    

[sources]
#plone.app.blocks                  = git git://github.com/plone/plone.app.blocks.git


[lxml]
recipe = z3c.recipe.staticlxml
egg = lxml == ${versions:lxml}

[zopeskel]
recipe = zc.recipe.egg
eggs =
   ZopeSkel
   Paste
   PasteDeploy
   PasteScript
   zopeskel.dexterity
   ${instance:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
scripts = zopepy

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

[command]
recipe = plone.recipe.command
command = 
	echo "import sys; sys.setdefaultencoding('utf-8')" > ${buildout:directory}/../lib/python2.6/site-packages/sitecustomize.py
